blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
contextvars==2.4
cymem==2.0.5
dataclasses==0.8
faiss==1.5.3
faiss-cpu==1.7.0
filelock==3.0.12
Flask==1.1.2
idna==2.10
immutables==0.15
importlib-metadata==3.7.3
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.5
numpy==1.19.5
packaging==20.9
pathy==0.4.0
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.5.4
sentence-transformers==1.0.4
sentencepiece==0.1.95
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.1
torch==1.8.1
tqdm==4.59.0
transformers==4.4.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==1.0.1
zipp==3.4.1
